<div  class="adminHeader">
  <div class="row">
    <div class="col-6 headerText">
       <h3></h3>
    </div>
    <div class="col-5 text-right headerText">
        <h3 > </h3>
    </div>

    <div class="col-1 ">
    <?php $url = Router::url(['controller' => 'AdminLogin', 'action' => 'logout'])?>
                    <a href='<?php echo $url ?>' class="btn btn-info">Logout</a>
    
    </div>
  </div>
</div>