@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ykctl5');
  src:  url('fonts/icomoon.ttf?ykctl5') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hours:before {
  content: "\e900";
}
.icon-hours-support:before {
  content: "\e901";
}
.icon-air-conditioner:before {
  content: "\e902";
}
.icon-antenna:before {
  content: "\e903";
}
.icon-apartment-(2) .path1:before {
  content: "\e904";
  color: rgb(255, 255, 255);
}
.icon-apartment-(2) .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-apartment-(2) .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 198, 27);
}
.icon-apartment-(2) .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path6:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path7:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path8:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path9:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path10:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path11:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 147, 0);
}
.icon-apartment-(2) .path12:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path13:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path14:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path15:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path16:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path17:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path18:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 237, 181);
}
.icon-apartment-(2) .path19:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(224, 58, 0);
}
.icon-apartment-(2) .path20:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(148, 0, 48);
}
.icon-apartment-(2) .path21:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 217, 212);
}
.icon-apartment-(2) .path22:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 98, 98);
}
.icon-apartment-(2) .path23:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 217, 212);
}
.icon-apartment-(2) .path24:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 98, 98);
}
.icon-apartment-(2) .path25:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 217, 212);
}
.icon-apartment-(2) .path26:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 98, 98);
}
.icon-apartment-(2) .path27:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 217, 212);
}
.icon-apartment-(2) .path28:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 98, 98);
}
.icon-apartment .path1:before {
  content: "\e920";
  color: rgb(243, 123, 78);
}
.icon-apartment .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(241, 92, 34);
}
.icon-apartment .path3:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(252, 252, 252);
}
.icon-apartment .path4:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(178, 154, 126);
}
.icon-apartment .path5:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(245, 248, 246);
}
.icon-apartment .path6:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(251, 251, 251);
}
.icon-apartment .path7:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(248, 248, 248);
}
.icon-apartment .path8:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path9:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path10:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path11:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path12:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path13:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path14:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path15:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path16:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path17:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path18:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path19:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path20:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path21:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path22:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path23:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path24:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path25:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path26:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path27:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path28:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path29:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path30:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path31:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path32:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path33:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path34:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path35:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path36:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path37:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(209, 229, 245);
}
.icon-apartment .path38:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(180, 216, 241);
}
.icon-apartment .path39:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(248, 248, 249);
}
.icon-apartment .path40:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(237, 237, 237);
}
.icon-apartment .path41:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(248, 248, 248);
}
.icon-apartment .path42:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(121, 119, 129);
}
.icon-apartment .path43:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path44:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path45:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path46:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path47:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path48:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path49:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path50:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path51:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path52:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path53:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path54:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path55:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path56:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path57:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path58:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment .path59:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(46, 45, 49);
}
.icon-apartment-1:before {
  content: "\e95b";
}
.icon-badge:before {
  content: "\e95c";
}
.icon-building:before {
  content: "\e95d";
}
.icon-competition .path1:before {
  content: "\e95e";
  color: rgb(240, 53, 61);
}
.icon-competition .path2:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(240, 53, 61);
}
.icon-competition .path3:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(253, 106, 51);
}
.icon-competition .path4:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(255, 140, 41);
}
.icon-competition .path5:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(255, 209, 169);
}
.icon-competition .path6:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-competition .path7:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(240, 53, 61);
}
.icon-competition .path8:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(253, 106, 51);
}
.icon-competition .path9:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 140, 41);
}
.icon-competition .path10:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 209, 169);
}
.icon-competition .path11:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-competition .path12:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-competition .path13:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(2, 149, 170);
}
.icon-competition .path14:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(2, 149, 170);
}
.icon-competition .path15:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(2, 149, 170);
}
.icon-competition .path16:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-competition .path17:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-configuration-hand-drawn-interface-symbol-of-tools-a-pencil-and-a-wrench-cross:before {
  content: "\e96f";
}
.icon-conversation:before {
  content: "\e970";
}
.icon-conveyor:before {
  content: "\e971";
}
.icon-cursor:before {
  content: "\e972";
}
.icon-customer:before {
  content: "\e973";
}
.icon-customer-service:before {
  content: "\e974";
}
.icon-dollar-coins:before {
  content: "\e975";
}
.icon-earning-money-idea:before {
  content: "\e976";
}
.icon-electricity:before {
  content: "\e977";
}
.icon-favorites-button:before {
  content: "\e978";
}
.icon-group:before {
  content: "\e979";
}
.icon-idea:before {
  content: "\e97a";
}
.icon-idea-1 .path1:before {
  content: "\e97b";
  color: rgb(255, 255, 255);
}
.icon-idea-1 .path2:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-idea-1 .path3:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-idea-1 .path4:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-idea-1 .path5:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-idea-1 .path6:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path7:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path8:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path9:before {
  content: "\e983";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path10:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path11:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path12:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path13:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path14:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path15:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path16:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path17:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path18:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path19:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path20:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path21:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path22:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-idea-1 .path23:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(241, 92, 34);
}
.icon-idea-1 .path24:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-idea-1 .path25:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(25, 54, 81);
}
.icon-like:before {
  content: "\e994";
}
.icon-login:before {
  content: "\e995";
}
.icon-magnet:before {
  content: "\e996";
}
.icon-mechanic:before {
  content: "\e997";
}
.icon-plug:before {
  content: "\e998";
}
.icon-power:before {
  content: "\e999";
}
.icon-questions-circular-button:before {
  content: "\e99a";
}
.icon-recommended:before {
  content: "\e99b";
}
.icon-shop:before {
  content: "\e99c";
}
.icon-sketchbook:before {
  content: "\e99d";
}
.icon-smart-home .path1:before {
  content: "\e99e";
  color: rgb(241, 92, 34);
}
.icon-smart-home .path2:before {
  content: "\e99f";
  margin-left: -1em;
  color: rgb(241, 92, 34);
}
.icon-smart-home .path3:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(228, 229, 230);
}
.icon-smart-home .path4:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(249, 249, 249);
}
.icon-smart-home .path5:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(228, 229, 230);
}
.icon-smart-home .path6:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(249, 252, 253);
}
.icon-smart-home .path7:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-smart-home .path8:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-smart-home .path9:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(5, 4, 4);
}
.icon-smart-home .path10:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-smart-home .path11:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(5, 4, 4);
}
.icon-smart-home .path12:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(5, 4, 4);
}
.icon-smart-home .path13:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-smart-home .path14:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(5, 4, 4);
}
.icon-smart-home .path15:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(5, 4, 4);
}
.icon-store:before {
  content: "\e9ad";
}
.icon-telephone:before {
  content: "\e9ae";
}
.icon-test:before {
  content: "\e9af";
}
.icon-test-1:before {
  content: "\e9b0";
}
.icon-thin-bolt:before {
  content: "\e9b1";
}
.icon-time-left:before {
  content: "\e9b2";
}
.icon-toolbox:before {
  content: "\e9b3";
}
.icon-trophy:before {
  content: "\e9b4";
}
.icon-warranty:before {
  content: "\e9b5";
}
.icon-web-development:before {
  content: "\e9b6";
}
