html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: 'Ubuntu', sans-serif;
}
ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: border-box;
}

.hvr-ripple-out.closebtn:before {
    border: #3c3c3c solid 6px !important;
}
.closebtn.primeBg {
    background-color: #3c3c3c;
}




.error_msg {
    display: block;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 1px 8px;
    border-radius: 3px;
    margin: 5px 0 0 0;
    font-weight: 400;
    font-size: 12px;
    display: none;
    }

    .success_msg {
        font-size: 16px;
        color: green ;
        margin: 0px 5px;
        display: none;
        margin-top: 9px !important;
        margin-left: 10px !important;
        }
.register_link_text{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 200;
}

.loader {
    display: none;
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #42b4e6 ;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.contentCenter  {
    margin: auto;
}
.signUpForm {
    overflow: hidden !important; 
}

.signUpForm .modal-content .modal-title {
    position: absolute;
    top: 0;
    bottom: auto;
    margin: 15px 0;
    font-size: 20px;
    font-weight: 400;
}

.hrTag_pencil{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 12px;
    width: 30%;
}
.caps {
    text-transform: uppercase;
}
.fa {
    line-height: unset !important;
}
a:hover {
    text-decoration: none;
}
.hvr-ripple-out:before {
    border: #42b4e6 solid 6px !important;
}
.offset30  {
    margin-top: 32px;
}
.offsetbottom30 {
    margin-bottom: 30px;
}
.offset25 {
    margin-top: 25px;
}
.offsetboth {
    margin: 10px 0;
}
.padding15 {
    padding: 15px;
}
.darkText {
    color: #2b2f39;
}
.offsetRight {
    margin-right: 15px;
}
.text-lights {
    color: #858689;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    text-align: justify;
}
.noPaddings {
    padding: 0 !important;
}
.radiusBtn:before {
    border-radius: 100px;
}
.regularFont {
    font-weight: 400;
}
.fsxlx {
    font-size: 3.4em;
}
.offsetFull {
    margin-bottom: 120px;
    margin-top: 50px;
}
.ctaBox .hvr-underline-from-center:before {
    background: #FFF;
 }
#servicesSection .hvr-sweep-to-right:before {
    background: rgba(210,210,210,0.1);
}
.topNav .hvr-underline-from-center:before {
    background: #fff;
}
 .flexBoxCta .radiusBtnOutline.hvr-ripple-out:before {
    border: #42b4e6 solid 1px !important;
    border-radius: 100px;
}
.ctaImg .radiusBtnOutline.hvr-ripple-out:before {
    border: #42b4e6 solid 1px !important;
    border-radius: 100px;
}
.offsetXl {
    margin-top: 75px;
}
.bordermini {
    border: 1px solid #DDD;
}
.whiteColor {
    color: #FFFFff !important;
}
.widthFull {
    width: 100% !important;
}
.alignCenter {
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
}
.radiusFull {
    border-radius: 100px;
}
.numberTittle  {
    font-size: 40px;
}
.endContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
#blogSection  .hvr-underline-from-center:before {
    background: #42b4e6;
 }
.paddingXl {
    padding-bottom: 60px;
}
.contact .hvr-ripple-out:before {
    border: #43b4e6 solid 6px !important;
    border-radius: 100px;
}
.autoCenter {
    margin: auto;
}
.offsetLgNew {
    padding: 50px 15px;
}
.posRel {
    position: relative;
    overflow: hidden;
}
.btnSectionNew .hvr-ripple-out:before {
    border: #42b4e6 solid 4px !important;
    border-radius: 5px;
} 
.fsXlll {
    font-size: 3em;
}
.offset15 {
    margin-top: 15px;
}
.securitySection .hvr-underline-from-center:before {
    background: #42b4e6;
}
.ctaMap .hvr-ripple-out:before {
    border: #ffffff solid 1px !important;
}
.ctaMapNew .hvr-ripple-out:before {
    border: #ffffff solid 4px !important;
}
#servicesPanel .hvr-shutter-out-horizontal {
    background: #fcfeff;
}
#servicesPanel .hvr-shutter-out-horizontal:before {
    background: #fffdfc;
}
.offsetLgBottom {
    padding: 0 0 50px;
}
.headBar .hvr-underline-from-left:before {
    background: #42b4e6;
    height: 2px;
}
/******* Header *******/
html {
    font-family: 'Ubuntu', sans-serif;
}
header {
    background: #42b4e6;
    /* min-height: 146px; */
    position: fixed;
    max-height: 146px;
    box-shadow: 0px 0px 17px 0 rgba(222, 222, 222,0.5);
    z-index: 999;
    top:0;
    width: 100%;
    -webkit-transition: 0.5s all ease-in;
    transition: 0.5s all ease-in;
}
header.sticky {
    /* position: fixed;
    min-height: 65px;
    max-height: 65px; 
    width: 100%;
    z-index:999;
    top:0px;
    -webkit-transition: 0.5s all ease-in;
    transition: 0.5s all ease-in;    
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); */
}
.headBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    -webkit-transition: 0.5s all ease-in;
    transition: 0.5s all ease-in;
}     
.topNav .callSection {
    position: relative;
    color: #2c2f39;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    line-height: normal;
    padding: 0 30px 0 15px;
}
.callSection:before {
    content: '';
    background: #f8ad90;
    height: 21px;
    position: absolute;
    left: 0;
    width: 1px;   
    top: 0;
    bottom: 0;
    margin: auto;
}
.topNav .callSection .fa {
    position: absolute;
    left: -40px;
    font-size: 2.2em;
    padding-right: 12px;    
    top: 8px;
    bottom: 0;
    margin: auto;
}
.topNav {
    width: 100%;
    margin: 0;
    -webkit-transition: 0.5s all ease-in;
    transition: 0.5s all ease-in;
    padding: 0;
}
.topNav .rightBar {
    float: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.topNav .callSection .callTittle {
    font-weight: 200;
    color: #a9a9a9;
    font-size: 18px;
}
.topNav .callSection .callNo {
    font-weight: 500;
    font-size: 25px;
    color: #4e5057;
}
.primeBg .fa {
    padding-right: 10px;
    position: relative;
}
.callSection {
    color: #2c2f39;
 }
 .topNav ul li {
    display: inline-block;
}
.primeBg {
    background-color: #42b4e6;
    height: 45px;
    line-height: unset;
    padding: 0 20px;
    border-radius: 3px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    word-spacing: -2px;
    color: #FFF !important;
    font-size: 18px;
    font-weight: 400;
}
.primeColor {
    color: #42b4e6;
}
.topNav .hvr-ripple-out:before {
    border: #42b4e6 solid 6px;
 }

/******* Mini Header *******/
.topNav .miniNav {
    padding: 0;
    margin: 0;
    background-color: #42b4e6;
    min-height: 65px;
    color: #FFF;
    position: relative;
}
.topNav .miniNav li {
    padding: 16px;
}
.topNav .miniNav li  a{
    color: #FFF;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.2px;
}
.error {
    position: absolute;
    top: 47px;
    display: none;
    left: 0;
    padding: 4px 12px;
    background-color: #f66;
    border-radius: 5px;
    color: #fff;
    z-index: 1;
    font-size: 12px;
}
.error::after,
.error::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 5px;
    border: solid transparent;
}
.error::after {
    margin-right: 1px;
    border-bottom-color: #f66;
    border-width: 7px;
}
.error::before {
    border-top-color: transparent;
    border-width: 8px;
}
.topNav .miniNav li.active a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 18px;
    /* font-weight: 500; */
}
.topNav .miniNav .lastChild {
    position: absolute;
    right: 0;
    line-height: 85px;
    /* background: #2b2f39; */
    text-align: center;
    margin: auto;
    padding: 0;
    font-size: 20px;
    color: #fefeff;
}
.topNav .miniNav .lastChild .login li{
    min-height: 65px;
    padding: 0 30px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.topNav .miniNav .lastChild .login a {
    /* font-weight: 400; */
    font-size: 20px;
}
.topNav .miniNav .lastChild .login a .fa {
    padding-right: 15px;
    font-size: 20px;
}
/******* mini Nav *******/

/******* Header *******/

/******* Banner *******/
.banner {
    background: url(../img/banner.png) no-repeat left bottom;
    padding: 0;
    min-height: 100vh;
    background-size: cover;
    margin-top: 50px;
    /* background-position: 100% 29%; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.banner .formTittle {
    background: #42b4e6;
    min-height: 54px;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
}
.myForm {
    background: transparent;
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.form-group {
  position: relative;
  margin-bottom: 1.7rem;    
  margin-top: 5px;
}
.close > span {
    position: relative;
    bottom: 2px;
    font-weight: 100;
}
.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
.modal.show .modal-dialog {
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
}
.modal-header .close {
    position: absolute;
    right: 0;
    margin: 0;
    background: #DDD;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 2.2rem;
    top: 9px;
    z-index: 1;
}
.modal-content {
    border-radius: 0;    
    background-color: rgba(255, 255, 255, 0.90);
}
.modal-open .modal {
    padding-right: 0 !important;
}
.modal-header {
    padding: 0;
    border-bottom: 0px solid #e9ecef;
}
.modal-body {
    padding: 0;
    height: 100vh;
}
.leftBox {
    background: rgba(67, 180, 230, 0.90);
    color: #FFF;    
    padding: 55px 35px 55px 50px;
    height: 100vh;
} 
.rightBox { 
    padding: 50px 105px;
} 
.primeText {
    color: #44b4e6;
    margin-bottom: 20px;
}
.signUpHeading {
    font-size: 35px;
    margin-bottom: 2rem;
    font-weight: 200;
}
.signUpHeading > span  {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.signUpDisc {
    position: relative;
    padding-left: 22px;
}
.signUpDisc > i{
     position: absolute;
    font-size: 20px;
    left: 0;
    top: 0;
}

.modal-footer {
    border-top: 0px solid #e9ecef;
}
.myForm .form-group label {
    color: #42b4e6;
    margin-top: 10px;
    text-transform: capitalize;
    letter-spacing: 0;
    position: absolute;
    top: 5px;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    z-index: 0;
    transition: 0.5s all;
}
.full-width {
    width:100%;
}
.myForm .form-group .form-control {
    padding: 0rem;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    position: relative;
    z-index: 1;
    background: transparent;
    border: 1px solid #e2e2e2;
    border-width: 0 0 1px 0;
    border-radius: 0rem;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 2.5rem;
}
.myForm .form-group .form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color:#43b4e6;
    outline: 0;
    border-width: 0 0 1px 0;
    box-shadow: none;
}
.myForm .form-group textarea {
    min-height: 120px;
    max-height: 120px;
}
.formArea {
    max-width: 407px;
    display: inline-block;
    min-width: 400px;
    float: right;
}
.banner .bannerDisc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    color: #FFF;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
   
}
.banner .bannerDisc .heading {
    font-size: 54px;
    font-weight: 500;
}
.banner .bannerDisc .para {
    font-size: 20px;
    line-height: 36px;
    font-weight: 200;
    margin-top: 20px;
}

/******* Banner *******/

/******* Card *******/

.cardSection {
    display: inline-block;
    position: relative;
    bottom: 70px;
    width: 100%;
}
.cardSection .card-decks .cards > i {
    position: absolute;
    font-size: 42px;
    
    left: 35px;
    color: #42b4e6;
}
.cardSection .card-decks .cards  {
    padding:20px 0 0 0;    
    border-top: solid #42b4e6;
    border-radius: 0;
    border-width: 8px 0 0;
    background: #f9fafa;    
    box-shadow: 0px 7px 15px 0px rgba(220,220,220,0.7);
}
.cardSection .card-decks .cards .cardTop {
    padding-left: 20px;
}
.cardSection .card-decks .cards .cardTittle {
    font-size: 22px;
    color: #2c2f39;
}
.cardDisc {
    font-size: 14px;
    color: #fd3e3e;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 5px;
}
.cardSection .card-decks .hvr-underline-from-center:before {
    background: #42b4e6;
  }
.cardSection .card-decks .cards .listingCard li {
    font-size: 20px;
    font-weight: 500;
    color: #2c2f39;
    padding: 7.5px 0px;
    color: #4e5057;
}
.cardSection .card-decks .cards .listingCard li .fa {
    color: #42b4e6;
    padding-right: 15px;
}
.cardSection .card-decks .cards .listingCard li a {
    font-size: 18px;
    font-weight: 500;
    color: #42b4e6;
}
.cardSection .card-decks .cards .cardData {
    min-height: 200px;
    background: #FFF;
    padding: 20px 25px;
    margin: 0;
    border-top: 1px solid #e2e2e2;
    cursor: pointer;
    width: 100%;
}
/******* Card *******/

/******* Home Page About Us Section *******/
.aboutSection {
    /* padding: 25px 0 50px; */
    display: inline-block;
    width: 100%;
}
.offsetLg {
    padding: 50px 0;
}
.flexBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: auto;
    padding: 0px 30px;
}
.flexBoxView {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.mainHeading {
    font-size: 42px;
    color: #2c2f39;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: 0px;
}
.aboutSection .imgArea {
    width: 100%;
    min-height: 350px;
    overflow: hidden;
    max-height: 420px;
    position: relative;
}
.aboutSection .imgArea img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
}
.aboutSection .imgArea .overlay {
    position: absolute;
    top: 0;
    background: #42b4e6;
    margin: 32px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    color: #FFF;
    border-left: solid #FFF;
    border-width: 0 0 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}
.aboutSection .imgArea .overlay .overlayBold {
    font-size: 56px;
    display: block;
    margin-bottom: -15px;
    font-weight: bold;
}
.aboutSection .imgArea .overlay .overlayText {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 24px;
    margin-bottom: 24px;
    margin-bottom: 24px;
    margin-bottom: 24px;
    margin-bottom: 24px;
    margin-bottom: 24px;
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
}
.aboutSection .imgArea .overlay .overlayTextNew {
    font-size: 16px;
    padding-top: 24px;
    padding-top: 24px;
    padding-top: 24px;
    padding-top: 24px;
    padding-top: 24px;
    padding-top: 24px;
    padding-top: 24px;
    padding-top: 1.5rem;
    line-height: 28px;
    border-top: 2px solid #b6e9ff;
}
.imgArea .hvr-outline-out:before {
    border: #42b4e6 solid 4px;
 }
 .contentArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    height: auto;
    padding: 20px 30px;
}
 .contentArea .firstPara {
    font-size: 24px;
    font-weight: 400;
}
 .contentArea .firstParaNew {
    font-size: 18px;
    color: #919194;
    line-height: 30px;
}
.paraText {
    font-size: 18px;
    color: #919194;
    line-height: 30px;
}
.radiusBtn {
    border-radius: 100px !important;
    font-weight: 500;
    max-width: 220px;
    min-width: 180px;
}
.radiusBtnOutline {
    border-radius: 100px !important;
    font-weight: 500;
    max-width: 220px;
    min-width: 180px;
    background: transparent;
    color: #42b4e6 !important;
    border: 1px solid #42b4e6;
    font-weight: 400;
    padding: 0 30px;
}
 .contentArea .hvr-ripple-out:before {
    border: #42b4e6 solid 6px !important;
    border-radius: 100px;
}
.panelAccordion .card {
    margin: 15px 0;
    border-radius: 0;
}
.panelAccordion .card .card-header {
    background: #FFF;
    border-left: 3px solid #42b4e6;
    border-radius: 0;
}
.panelAccordion .card .card-body {
    /* height: 162px; */
    overflow: hidden;
    border-left: 3px solid #b6e9ff;
    background: #FFF;
    padding: 20px;
    padding: 20px;
    padding: 20px;
    padding: 20px;
    padding: 20px;
    padding: 20px;
    padding: 20px;
    padding: 1.25rem;
}
.panelAccordion .card .card-header .btn {
    font-size: 24px;
    color: #2c2f39;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-weight: 500;
}
.panelAccordion .card .card-header .active .btn {
    color: #42b4e6;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.panelAccordion .card .card-header .btn  + .fa {
    position: absolute;
    right: 20px;
    right: 20px;
    right: 20px;
    right: 20px;
    right: 1.25rem;
    margin: 5px 0;
    font-size: 20px;
    color: #42b4e6;
}
/******* Home Page About Us Section *******/

/******* CTA Section *******/

.ctaSection .hvr-ripple-out:before {
    border: #42b4e6 solid 6px !important;
    border-radius: 100px;
}
.ctaSection {
    background: #2c2f39;
    color: #FFF;
    width: 100%;
    height: auto;
    display: inline-block;
}
.ctaContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 35px 0;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.ctaText {
    margin: 0;
    font-size: 26px;
    font-weight: 500;
}
.ctaText  > .textMain {
    color: #42b4e6;
}
/******* CTA Section *******/

/******* Why Us Section *******/
#whyUsSection {
    background: url(../img/third.jpg) no-repeat left bottom;
    background-size: cover;
    background-position: 50% 29%;
    position: relative;
    height: auto;
    display: inline-block;
    width: 100%;
}
#whyUsSection .ctaBox {
    background: #42b4e6;
    padding: 50px 30px;
    color: #FFF;
    border-left: solid #FFF;
    border-width: 0 0 0 5px;
    min-width: 350px;
    max-width: 360px;
    min-height: 270px;
    max-height: 300px;
}
.row {
    padding: 0px;
}
#whyUsSection .ctaBox .ctaBoxText {
    font-size: 22px;
    font-weight: 500;
 }
#whyUsSection .ctaBox .ctaBoxText + .ctaBoxTextNew{
    font-size: 20px;
    font-weight: 500;
    padding-top: 16px;
    padding-top: 16px;
    padding-top: 16px;
    padding-top: 16px;
    padding-top: 16px;
    padding-top: 16px;
    padding-top: 16px;
    padding-top: 1rem;
    border-top: 2px solid #b6e9ff;
 }
#whyUsSection .ctaBox .ctaBoxText + .ctaBoxTextNew + a{
    font-size: 30px;
    color: #FFF;
    font-weight: 600;
 }
/******* Why Us Section *******/

/*******  CTA 2 Section *******/
.ctaSecond {
    background: #f4f4f4;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 60px 0;
}
.black {
    color: #2c2f39;
}
.midText {
    margin: 16px 0;
    margin: 16px 0;
    margin: 16px 0;
    margin: 16px 0;
    margin: 16px 0;
    margin: 16px 0;
    margin: 16px 0;
    margin: 1rem 0;
    color: #919296;
    font-size: 18px;
    font-weight: 300;
}
.flexBoxCta {
    position: relative;
    z-index: 1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
/*******  CTA 2 Section *******/

/*******  Services Section *******/
#servicesSection .card-deck .cardzz { 
    border: 5px solid;
    margin-bottom: 10px;
    text-align: left;
    border-width: 0 0 0 5px;
    border-radius: 0;
    box-shadow: 4px 4px 15px 0 rgba(110,110,110,0.2);
    border-color: transparent transparent transparent #42b4e6;
    min-height: 500px;
    /* max-height: 500px; */
    cursor: pointer;
}
#servicesSection  .owl-carousel .owl-item {
    min-height: 560px;
}
#servicesSection .card-deck .cardzz .card-title {
  
    margin-bottom: .75rem;
    font-size: 17px;
    font-weight: 500;
    color: #2c2f39;
    border-bottom: 2px solid #b6e9ff;
    padding: 0 0 15px;
}
#servicesSection .card-deck .cardzz .card-text {
    font-size: 15px;
    font-weight: 300;
    overflow: hidden;
    color: #2c2f39;
    margin-bottom: 0px;
    /* max-height: 125px; */
    line-height: 25px;
}
#servicesSection .card-deck .cardzz .text-muted {
    color: #42b4e6!important;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 16px;
}
.white {
    background: #FFF !important;
}
.preLine {
        white-space: pre-line;
}
#servicesSection .card-deck .cardzz .card-body {
    min-height: 200px;
    overflow: hidden;
    /* max-height: 250px; */
}
#servicesSection .card-deck .cardzz .card-text-new {
    text-align: right;
    display: inline-block;
    width: 100%;
    height: auto;
}

/*******  Slider Section *******/

.swiper-container {
    width: 100%;
    height: 520px;
    margin: 20px auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*******  Slider Section *******/

/*******  Services Section *******/

/*******  CTA Section *******/
.ctaImg {
    background: url(../img/seven.jpg) no-repeat left bottom;
    padding: 0;
    min-height: 360px;
    background-size: cover;
    background-position: 100% 29%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
   background-attachment: fixed;
}
.ctaImg:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}
.lightText {
    color: #FFFFFF !important;
}
/*******  CTA Section *******/

/*******  FAQ Section *******/

.faqAccordion .active.card-header .btn-link {
   
}
.faqAccordion .card-header .btn-link {
   
    text-decoration: none;
    padding: 0;
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    text-align: left;
    padding:.75rem 1.25rem;background: #42b4e6;
    color: #FFF;
}
.faqAccordion .card-header .btn-link.collapsed {
    background: #fff;
    color: #2c2f39;
    white-space: pre-line;
}
.faqAccordion .card-header .btn-link.actishowe{
    background: #42b4e6;
    color: #FFF;
}
.faqAccordion .card-header .btn-link:hover{
    background: #42b4e6;
    color: #FFF;
}
.faqAccordion .card-header {
    padding: 0;
}
.faqAccordion .card-header {    
    color: #fff;
}
.faqAccordion .active {
    background: #42b4e6;
    color: #FFF;
}
.faqAccordion .card .card-header .btn-link + i {
    font-size: 24px;
    position: absolute;
    right: 15px;
    top: 10px;
    bottom: 0;
    color:#2c2f39;
}
.faqAccordion .card .card-header .card-body {
    background: #f8f9fb;
}
.faqAccordion:first-child {
    border-radius: 5px 5px 0 0 !important;
}
.faqAccordion:last-child {
    border-radius:0 0 5px 5px !important;
}
.faqAccordion .card .card-header:hover{
    background: #42b4e6;
    border-radius: 0;
    color: #FFFFFF;
}
.faqAccordion .card .card-header:hover .btn-link ,.faqAccordion .card .card-header:hover i {
    color: #FFFFFF;
}
.faqAccordion .card .card-header:hover .card-body {
    background: #FFFFFF;
}

.faqAccordion .card {
    border-radius: 0;
}
.faqAccordion {
    border-radius: 9px;
}
/*******  FAQ Section *******/

/*******  CTA Rating Section *******/
.ctaRating {
    background: url(../img/eight.jpg) no-repeat left bottom;
    padding: 0;
    min-height: 360px;
    background-size: cover;
    background-position: 100% 29%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-attachment: fixed;
}
.ctaRating:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
}
.ctaRating .iconList {
    text-align: center;
    margin: auto;
    color: #FFF;
}
.ctaRating .iconList i {
    font-size: 64px;
    font-size: 64px;
    font-size: 64px;
    font-size: 64px;
    font-size: 64px;
    font-size: 64px;
    font-size: 64px;
    font-size: 4rem;
    color: #42b4e6;
}

.ctaRating .iconList .amount {
    font-size: 40px;
    margin: 0;
    padding: 0;
    font-weight: 200;
}
.ctaRating .iconList .tittleAmount {
    font-size: 18px;
    font-weight: 200;
}
.common-title {
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom:0rem;
    font-size: 22px;
    font-weight: 500;
    color: #2c2f39;
    padding: 0 0 15px;
}
.common-text {
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    color: #919194;
    max-height: 125px;
    line-height: 26px;
    min-height: 105px;
}
#testmonialSection .testUser {
    border: 1px solid #e5e5e5;
    padding: 30px 20px;
    min-height: 250px;
    border-left: 5px solid #42b4e6;
}
#testmonialSection .testUser .activeStar {
    color: #ffc015;
}
#testmonialSection .testUser i {
    color: #828387;
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    padding: 0;
}
#testmonialSection .carousel-control-prev {
    left: 0;
    position: absolute;
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    top: 100%;
    right: 75px;
    background: #42b4e6;
    z-index: 9;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    margin: 25px auto 0;
    border:2px solid #42b4e6;
}
#testmonialSection .carousel-control-next {
    left: 75px;
    position: absolute;
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: 0;
    top: 100%;
    right: 0;
    background: #42b4e6;
    z-index: 9;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    margin: 25px auto 0;
    border:2px solid #42b4e6;
}

/*******  CTA Rating Section *******/

/*******  BLOG Section *******/

#blogSection .card-bodyz {
    padding: 0;
    height: 170px;
    width: 100%;    
    border-top: 4px solid #42b4e6;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
#blogSection .card-title {
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
    margin-bottom: 0rem;
    color: #969696;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
}
#blogSection .card-text {
    margin-bottom: 12px;
    margin-bottom: 12px;
    margin-bottom: 12px;
    margin-bottom: 12px;
    margin-bottom: 12px;
    margin-bottom: 12px;
    margin-bottom: .75rem;
    color: #2c2f39;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 18px;
}
#blogSection .card-title > i {
    color: #42b4e6;
    padding-right: 10px;
    font-size: 16px;
}
#blogSection .card-deck .cardz {
    border-radius: 0;
}
#blogSection .cardz .text-muted {
    color: #42b4e6!important;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    right: 20px;
    bottom: 15px;
    font-size: 16px;
}
#blogSection .cardz .card-img-top {
    max-height: 185px;
    min-height: 185px;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
}
#servicesSection .card-img-top {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
    min-height: 250px;
}
/*******  BLOG Section *******/

/*******  Footer Section *******/

.footer {
    background: url(../img/footer.jpg) no-repeat left bottom;
    padding: 0;
    min-height: 610px;
    background-size: cover;
    background-position: 100% 29%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-attachment: fixed;
}

.footer:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
}

#footerSection .footer .paraTextFooter{
    font-size: 18px;
    color: #fefefe;
    line-height: 30px;
    font-weight: 300;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
#footerSection .footer .footerHeading {
    font-size: 20px;
    color: #fefefe;
    font-weight: 500;
    border-bottom: 2px solid #42b4e6;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
#footerSection .footer .footerLinks .footerLinkArea li{
    padding: 5px 0;
}
#footerSection .footer .footerLinks .footerLinkArea li a {
    font-size: 22px;
    color: #42b4e6;
    font-weight: 200;
}
#footerSection .footer .form-control {
    background-color: rgba(250,250,250,0.1);
    border: 1px solid #777d7e;
    border-radius: 3px;
    height: 48px;
    color: #FFF;
}
#footerSection .footer  .form-group {
    position: relative;
}
#footerSection .footer .form-group i {
    position: absolute;
    color: #FFF;
    right: 0;
    top: 0;
    margin: 8px 20px;
    font-size: 20px;
}
.socialIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
}
.socialIcons li {
    padding-right: 15px;
}
.socialIcons li a i {
    color: #FFF;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.footerBottom {
    position: absolute;
    color: #FFF;
    bottom: 0;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid #333333;    
    left: 0;
    right: 0;
    text-align: center;    
    background: rgba(0,0,0,0.6);
}
.footerBottom p {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
}

/*******  Footer Section *******/

/******* About Us *******/
.about {
    background: url(../img/about.jpg) no-repeat left bottom;
    padding: 0;
    min-height: 390px;
    background-size: cover;
    background-position: 100% 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: -1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.about:before {
    content: '';
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    z-index: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}
.innerList {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 15px;
}
.innerList li a {
    color: #FFF;
    font-size: 18px;
    padding: 0 5px;
    text-transform: uppercase;
}
.innerList li a.active {
    color: #42b4e6;
    font-weight: 500;
}
.innerHeading {
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 200;
}
.innerHeading > span {
    font-weight: 600;
}

.innerTag {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
    color: #2c2f39;
}
.innerTittle {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 15px;
    color: #2c2f39;
}
.innerTittle > span {
    font-weight: 600;
}
.innerTag > span {
    color: #42b4e6;
    font-weight: 500;
}

.imgHolder {
    background: #FFF;
    box-shadow:0px 3px 8px 0px rgba(0,0,0,0.1);
}
.imgWrapper {
    max-height: 200px;
    overflow: hidden;
    width: 100%;
}
.imgWrapper img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
}
.imgContents {
    padding: 15px;
    border-top: 5px solid #42b4e6;
}
.imgContents .tittleTag {
    font-size: 18px;
    color: #2c2f39;
    font-weight: 500;
    margin-bottom: 5px;
}
.discription {
    font-size: 18px;
    font-weight: 200;
    color: #2c2f39;
    line-height: 26px;
}
.miniListing {
    position: relative;
    padding-left: 90px;
    display: inline-block;
}
.miniListing > span {
    position: absolute;
    left: 0;
    font-size: 3.4em;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.miniListingHeading {
    font-size: 18px;
    position: relative;
    font-weight: 500;
    color: #2c2f39;
}
.miniListingHeading:before {
    background: #42b4e6;
    content: '';
    left: 0;
    width: 60px;
    height: 1px;
    position: absolute;
    bottom: -9px;
}
.miniListingContents {
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    color: #2c2f39;
}
.mainInnerHeading {
    font-size: 40px;
    font-weight: 500;
    color: #2c2f39;
}
.numberTittle >{
    font-size: 30px;
    font-weight: 500;
}
.numbers {
    background: url(../img/thirteen.jpg) no-repeat left bottom;
    padding: 0;
    min-height: 390px;
    background-size: cover;
    background-position: 100% 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: -1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.numbers .amount {
    font-size: 40px;
    color: #2c2f39;
    font-weight: 500;
    margin: 10px 0;
}
.numbers .tittleAmount {
    font-size: 20px;
    font-weight: 200;
    color: #2c2f39;
    margin: 0;
}
.imgWrapperNew {
    overflow: hidden;
    width: 100%;
    max-height: 180px;
    border-bottom:2px solid #42b4e6;
}
.imgWrapperNew img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height:auto;
}
.expertContents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #42b4e6;
    margin: 15px 15px 0;
    padding-bottom: 5px;
}
.expertSocial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.expertSocial li {
    padding-left: 15px;
}
.expertSocial li a {
    color: #999999; 
}
.expertArea {
    border: solid #DDD;
    border-bottom: solid #42b4e6;
    border-width: 1px 1px 2px 1px;
}
.ctaSectionDark {
    background: #42b4e6 !important;
}
.textBoxArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.primeBgDark {
    background-color: #2b2f39;
}
.ctaSectionDark .hvr-ripple-out:before {
    border: #2b2f39 solid 6px !important;
    border-radius: 0;
}
/******* About Us *******/

/******* BLOG *******/
.blogPage .blogListing {
    min-height: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    box-shadow: 3px 0px 6px 0px rgba(110,110,110,0.1);
    overflow-y: hidden;
}
.blogPage .listingImg {
    max-height: 310px;
    overflow: hidden;
    width: 100%;
    min-width: 350px;
    border-right: 4px solid #42b4e6;
}
.blogPage .listingImg img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
}
.blogPage .blogDetail {
    font-weight: 500;
    text-transform: uppercase;
    color: #67686b;
    border: 1px solid #42b4e6;
    padding: 10px;
    font-size: 15px;
}
.blogPage  .hvr-ripple-out:before {
    border: #42b4e6 solid 1px !important;
}
.blogPage .listingContents {
    padding: 15px 25px;    
    width: 100%;
    max-height: 310px;
    overflow: hidden;
}
.blogPage .blogTittle {
    font-size: 18px;
    margin-bottom: 5px;
    color: #2c2f39;
    font-weight: 500;
}
.blogPage .blogDate {
    text-transform: uppercase;
    color: #828181;
    font-size: 16px;
    position: relative;
}
.blogPage .blogDisc {
    font-size: 16px;
    color: #828181;
    line-height: 26px;
    text-align: justify;
    border-bottom: 1px solid #DDD;
    padding: 15px 0;
}
.blogPage .blogDate:before {
    background: #42b4e6;
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    bottom: -12px;
}
.searchSec {
    position: relative;
}
.searchSec .form-control {
    border: 1px solid #42b4e6;
    height: 42px;
}
.searchSec i {
    position: absolute;
    right: 0;
    top: 0;
    margin: 7px 15px;
}
.searchSec .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(241, 103, 0, 0.22);
}
.listHeading {
    font-size: 20px;
    margin: 25px 0;
    color: #2c2f39;
}
.listingLeft li {
    padding: 10px;
    border: 1px solid #DDD;
    border-left: 4px solid #42b4e6;
    margin: 10px 0;
    position: relative;
    width: 100%;
}
.listingLeft li a {
    color: #2c2f39;
    font-size: 18px;
    font-weight: 400;
 }
.listingLeft li i { 
    position: absolute;
    right: 15px;
    font-size: 20px;
    margin: auto;
    padding: 0;
}
.imgAreaNew {
    width: 135px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    left: 0;
}
.imgAreaNew > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.postList li {
    position: relative;
    width: 100%;
    min-height: 120px;
    border-bottom: 1px solid #DDD;
    margin-top: 15px;
}
.postList li:last-child {
    border-bottom: 1px solid transparent;
 }
.postList li .listContents  a{
    padding-left: 150px;
    font-size: 16px;
    color: #2c2f39;
    font-weight: 500;
    width: 100%;
    display: block;
}
.postList li .listContents .timeStamp{
    padding-left: 150px;
    font-size: 15px;
    color: #6d6d6d;
    font-weight: 400;
    width: 100%;
    display: block;
    text-transform: uppercase;
    margin-top: 10px;
}
.postList li .timeStamp i {
    padding-right: 5px;
}
.blogPage .listingLeft .hvr-underline-from-left:before {
    background: #ffa987;
}
.blogPage .pagination li {
    margin-left: 5px;
}
.blogPage .pagination {
    float: right;
}
.blogPage .page-item.disabled .page-link {
    color: #ffffff;
    background-color: #c5c5c5;
    border-color: #e8e8e8;
    border-radius: 0;
}
.blogPage .page-item.active .page-link {
    z-index: 1;
    color: #42b4e6;
    background-color: #DDD;
    border-color: #42b4e6;
}
.blogPage .page-item:last-child .page-link {
    border-radius: 0;
}
.blogPage .page-link:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #ab390d;
    border-color: #dee2e6;
}
.page-link {
    position: relative;
    display: block;
    padding: 8px 12px;
    padding: 8px 12px;
    padding: 8px 12px;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #FFF;
    background-color: #42b4e6;
    border: 1px solid #dee2e6;
}
.detailImgWrapper {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    overflow: hidden;
}
.detailImgWrapper img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
}
.headingDetails{
    font-size: 22px;
    color: #2c2f39;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom:10px;
}
.blogDiscNew {
    font-size: 18px;
    color: #545863;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    line-height: 28px;
}
/******* BLOG *******/

/******* FAQ *******/

.blogPage ul.nav.nav-tabs li {
    min-height: 126.5px;
    background: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    border-width: 1px 0px 1px 1px !important;
    border:1px solid #DDD;
}
.blogPage .nav-tabs {
    border-bottom: 0px solid #dee2e6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0;
}

.blogPage .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top-left-radius: .25rem;
    border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-right-radius: .25rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #373a43;
}
.blogPage .nav-tabs .nav-link.active  {
    width: 100%;
    background: #42b4e6;
    height: 128px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
    color: #FFF;
    border-color: transparent;
    border-radius: 0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color:transparent;
}
.nav-tabs .nav-link i{
    font-size: 30px;
    padding-right: 10px;
}
.blogPage .panelAccordion .card {
    margin: 0 20px;
    border-radius: 0;
    border-bottom: 1px solid #DDD !important;
    border-width: 0 0 1px 0;
}
.blogPage .panelAccordion .card .card-body {
    border-top: 1px solid #f1f1f1;
    border-left: none;
    height: 130px;
}
.blogPage .panelAccordion .card .card-header {
    background: #FFF;
    border-left: 0px solid #42b4e6;
    border-radius: 0;
    border: none;
    padding: 23px 0;
}
.blogPage .panelAccordion .card .card-header .btn {
    font-size: 18px;
}
.blogPage .faqContents {
    overflow: auto;
    max-height: 381px;
}
.blogPage .panelAccordion .card:last-child {
    border: none !important;
}
.blogPage .panelAccordion .card .card-header .btn + .fa {
    position: absolute;
    right: 20px;
    right: 20px;
    right: 20px;
    right: 20px;
    right: 1.25rem;
    margin: auto;
    font-size: 20px;
    color: #2b2f39;
}
/******* FAQ *******/

/******* Contact *******/

.contactListing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #DDD;
    padding: 30px 20px;
}
.contactListing li {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 80px;
    position: relative;
    width: 33.33%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}
.contactListing li:nth-child(2) {
    border:1px solid #42b4e6;
    border-width: 0px 1px 0px 1px;
}
.contactListing li i {
    position: absolute;
    top: 0;
    font-size: 2.3em;
    text-align: center;
    left: 25px;
    bottom: 0;
    margin: auto;
    color: #42b4e6;
}
.contactListing li a {
    font-size: 16px;
    font-weight: 400;
    color: #1f2126;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.contactListing li span:before {
    content: '';
    position: absolute;
    left: 0;
    width: 55px;
    height: 2px;
    background: #42b4e6;
    bottom: -5px;
}
.contactListing li .contactDetails{
    font-size: 18px;
    color: #1f2126;
    font-weight: 500;
    margin-bottom: 10px;
    position: relative;
}
.contact {
    background: #FFF;
    color:#333;
    padding: 0;
    /* min-height: 900px; */
    background-size: cover;
    background-position: 100% 29%;
    display: -webkit-box;
    display: -ms-flexbox;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.contactPage .form-row label {
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    word-spacing: 4px;
    /* margin-bottom: 15px; */
    font-size: 15px;
}
.contactPage .form-row .form-control {
    background-color: transparent;
    border-width: 0 0 2px 0px;
    border-radius: 0;
    font-size: 20px;
    color: #333;
    padding-left: 0;
    font-weight: 600;
    height: 58px;
}
.textCenter  {
    margin: auto;
}
.contactPage .form-row .form-control:focus {
    box-shadow: none;
    border-color: #42b4e6;
}

.contactPage .form-row textarea{
    height: 150px !important;
}
.contactPage .btn-primary {
    color: #000;
    background-color: #ffffff;
    border-color: #FFF;
    font-weight: 500;
    font-size: 20px;
    border-radius: 100px;
    width: 170px;
    height: 55px;
    text-transform: uppercase;
    margin-top: 25px;
}
/******* Contact *******/

/******* Services *******/
.servicesType:hover .svgx + .lgIcon {
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.iconTrophy {
    background: url(../img/competition.svg) no-repeat left bottom;
    height: 100px;
    width: 100px;
    background-size: cover;
    display: inline-block;
    margin-bottom: 15px;
}
.services {
    background: url(../img/services.jpg) no-repeat left bottom;
    padding: 0;
    min-height: 880px;
    background-size: cover;
    background-position: 100% 29%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.servicesType {
    background: #fcfeff !important;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    border-top: 1px solid #42b4e6;
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.1) !important;
    position: relative;
    min-height: 260px;
    overflow: hidden;    
    cursor: pointer;
}
.servicesType:after {
    background: #42b4e6;
    width: 1px;
    height: 69px;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
}
.servicesType:after {
    background: #42b4e6;
    width: 1px;
    height: 69px;
    position: absolute;
    content: '';
    right: 0;
    top: 0;
}
.svgx + .lgIcon  {
    font-size: 16em;
    left: 38%;
    position: absolute;
    z-index: 0;
    opacity: 0.1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    color: #DDD;
    z-index: -1;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}
.servicesType i {
    font-size: 4em;
}
.servicesTittle {
    font-size: 20px;
    color: #434343;
    font-weight: 500;
    position: relative;
}
.servicesTittle:before {
    content: '';
    background: #42b4e6;
    position: absolute;
    left: 0;
    height: 2px;
    right: 0;
    width: 60px;
    margin: auto;
    bottom: -10px;
}
.servicesDisc {
    font-size: 18px;
    color: #8c8c8c;
    font-weight: 400;
}
.fadeBg {
    background: #f8f8f8;
}
.servicesHeading {
    font-size: 40px;
    color: #2c2f39;
    margin-bottom: 45px;
    font-weight: 500;
    position: relative;
 }
 .servicesHeading:before {
    content: '';
    background: #42b4e6;
    position: absolute;
    left: 0;
    height: 2px;
    width: 120px;
    margin: auto;
    bottom: -25px;

}
.servicesContents {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    color: #2c2f39;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    line-height: 35px;
}
.rightSection {
    background: #2a2a33;
    border-left: 5px solid #e95921;    
    padding: 40px;
    width: 80%;
}
.rightSection .quatation{
    font-size: 18px;
    position: relative;
    color: #FFF;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.rightSection .quatation:before {
    content: '';
    background: #42b4e6;
    position: absolute;
    left: 0;
    height: 2px;
    width: 80px;
    margin: auto;
    bottom: -15px;

}
.rightSection .quatation .quote{
    font-size: 24px;
}
.rightSection .myDisc {
    color: #828484;
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
}
.rightSection a{
    font-size: 20px;
    color: #ff6600;
    font-weight: 500;
}
.bgImage {
    background: url(../img/bg1.jpg) no-repeat left bottom;
    padding: 0;
    min-height: 840px;
    background-size: cover;
    background-position: 100%;
    width: 50%;
    position: absolute;
    left: 0;
}
.bgImageNew {
    background: url(../img/bg2.jpg) no-repeat left bottom;
    padding: 0;
    min-height: 840px;
    background-size: cover;
    background-position: 100%;
    width: 50%;
    position: absolute;
    right: 0;
}
.calc {
    background: url(../img/22.jpg) no-repeat;
    padding: 0;
    min-height: 550px;
    background-size: cover;
    background-position: 100%;
}
.calDisc {
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.formSec .form-group label {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 15px;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.formSec .form-group .form-control {
    border: 1px solid #42b4e6;
    height: 44px !important;
}
.formSec .form-group .primeBg{
    font-size: 16px;
    height: 44px;
    margin-top: 39px;
    border-radius: 3px;
}
.labelPrice {
    background: #42b4e6;
    padding: 10px 20px;
    color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 510px;
    margin: auto;
    border-radius: 3px;
    border: 1px solid #ff4700;
}
.labelPrice  .priceLabel{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.labelPrice  .priceLabel > .priceTotal{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
}
.cityList {
    border-bottom: none;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
}

.cityList li {
    background: #fafafa;
    width: 100%;
    padding:0;
    border-top: 1px solid #DDD;
}
.cityList .nav-item.show .nav-link, .cityList .nav-link.active {
    background: #FFF;
    padding: 25px;
    border-left: 5px solid #42b4e6 !important;
    border-color: transparent;
}
.listbg {
    border: 1px solid #DDD;
    background: #FFF;
    max-height: 305px;
    overflow: hidden;
}
.cityList li:first-child {
    border-top:none;
}
.borderBoth {
    border-left: 1px solid #ffd8c9;
}
.cityList .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 26px;
    color: #2c2f39;
    font-size: 16px;
    font-weight: 500;
    border-left: 5px solid transparent;
    border-right-color: #DDD;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-right-color: #DDD;
}
.nav-tabs .active:focus, .nav-tabs .active:hover {
    border-right-color: transparent;
}
.factList li {
    width: calc(50% - 15px);
    display: inline-block;
    background: #FFF;
    margin: 10px 5px;
    padding: 20px 15px;
    position: relative;
    border: 1px solid;
    border-color: #DDD #DDD #DDD #42b4e6;
    border-width: 1px 1px 1px 5px;
    min-height: 142px;
    max-height: 142px;
}
.factList li .ico {
    position: absolute;
    left: 15px;
    font-size: 2.3em;
    top: 20px;
}
.factListing {
    padding-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 10px;
    position: relative;
}
.factTittle {
    color: #2c2f39;
    font-weight: 500;
    font-size: 35px;
}
.factTittleDisc {
    text-transform: uppercase;
    font-size: 16px;
    color: #2c2f39;
    font-weight: 400;
    white-space: pre-line;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    margin-top: 10px;
}
.ctaBg {
    background: url(../img/23.jpg) no-repeat left bottom;
    padding: 0;
    position: relative;
    min-height:400px;
    background-position: 100% 0%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.ctaBg:after {
    background: rgba(0,0,0,0.8);
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.ctaBg .calling {
    font-size: 40px;
    color: #fff;
    font-weight: 500;
}
.ctaBg .calling > span {
    padding-right: 15px;
    margin-bottom: 15px;
}
.ctaBg .calling + .callingDisc{
    color: #FFF;
    font-weight: 500;
    font-size: 30px;
    white-space: pre-line;
    margin-bottom: 15px;
}
.helpSection .nav-item a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 70px;   
    position: relative;
    overflow: hidden; 
    font-size: 18px;
    font-weight: 500;
    color: #6b6d6f;
}
.helpSection .nav-item a.active {
    z-index: 9;
    color: #1d1d1d;
    position: relative;
}
.helpSection .nav-tabs .nav-link:focus, .helpSection .nav-tabs .nav-link:hover {
    border-right-color: #e2e2e2;
    background: #ffffff;
    border-left-color: #F5F5F5;
}
.helpSection .nav-item a.active:before {
    content: '';
    background: #42b4e6;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.helpSection .lgIcon  {
    display: none;
    -webkit-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in;
}
.helpSection .nav-link.active .lgIcon  {
    position: absolute;
    font-size:7.2em !important;
    right: -15px;
    top: 27px;
    color: #DDD;
    display: block;
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    z-index: -1;
    -webkit-transition: 0.3s all ease-in;
    transition: 0.3s all ease-in;
}
.helpSection .nav-item {
    width: 20%;
}
.helpSection .nav-item a > .ico {
    font-size: 40px;
    margin-bottom: 5px;
}
.helpSection .nav-tabs {
    border-bottom: none;
    background: #fcfcfc;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    box-shadow: 7px 5px 15px 0px rgba(110,110,110,0.1);
}
.helpSection .nav-tabs .active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
    box-shadow: 7px 5px 15px 0px rgba(110,110,110,0.1);
}
.helpSection .tabImgHolder {
    width: 170px;
    height: 170px;
    overflow: hidden;
    bottom: 45px;
    border: 2px solid #f3f3f3;
    position: absolute;
    top: -20px;
    box-shadow: 3px 3px 3px 2px rgba(110,110,110,0.1);
}
.helpSection .tabImgHolder + .imgContants {
    padding-left: 200px;
}
.helpSection .tabImgHolder img{
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
}
.helpSection .imgContants .imgHeading {
    font-size: 20px;
    color: #2c2f39;
    font-weight: 500;
    position: relative;
}
.helpSection .imgContants .imgHeading:before {
    content: '';
    background: #42b4e6;
    position: absolute;
    left: 0;
    height: 2px;
    width: 48px;
    margin: auto;
    bottom: -9px;
}
.helpSection .imgContants .imgDisc {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 400;
}
.helpSection .tabContents {
    background: #FFF;
    padding: 25px;
    min-height: 242px;
    box-shadow: 0px 3px 12px 0px rgba(110,110,110,0.1);
    border:1px solid #DDD;
}
.helpSection .tabContents .imgContants .btnSectionNew .btnMore {
    background: #42b4e6;
    color: #FFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 18px;
    min-height: 30px;
    border-radius: 3px;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.1);
    box-shadow: 7px 5px 15px 0px rgba(110,110,110,0.1);
}
#tabSec {
    background: url(../img/24.png) no-repeat left bottom;
    padding: 0;
    position: relative;
    min-height: auto;
    background-position: 100%;
    background-size: cover;
    height: auto;
}
.tabSec {
    background: url(../img/24.png) no-repeat left bottom;
    padding: 0;
    position: relative;
    min-height: auto;
    background-position: 100%;
    background-size: cover;
    height: auto;
}
.ctaBoxNew .ctaPara {
    font-size: 30px;
    color: #2c2f39;
    font-weight: 500;
}
.ctaBoxNew .ctaPara + .ctaPara {
    font-size: 20px;
    color: #6a6c71;
    font-weight: 400;
    margin-top: 0;
}
.ctaBoxNew {
    background: #FFF;
    box-shadow: 0px 0px 15px 0px rgba(110,110,110,0.3);
}
.ctaBoxNew span {
    font-size: 5em;
    border: 1px solid #a74925;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.security {
    position: relative;
    background: #FFF;
    padding:30px;
    cursor: pointer;
    border-top:4px solid #e8e8e8;
    box-shadow: 7px 5px 10px 0px rgba(110,110,110,0.1) !important;
}
.security:after {
    content: '';
    background: #42b4e6;
    position: absolute;
    left: 0;
    height: 4px;
    width: 59px;
    margin: auto;
    top: 0;
    right: 0;
}
.blogPage .nav-tabs .nav-link:hover {
    border-right-color: transparent;
}
.faqSection ul.nav.nav-tabs li {
    min-height: 191px;
}
.faqSection .nav-tabs .nav-link.active {
    height: 189px;
}
.ctaMap {
    background: url(../img/22.jpg) no-repeat left bottom;
    padding: 0;
    position: relative;
    min-height:270px;
    background-position: 100% 0%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.primeBgWhite {
    border: 1px solid #FFF;
    padding: 15px;
    display: inline-block;
    color: #FFF !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    min-width: 260px !important;
    margin-top: 25px;
}
.primeWhiteBg {
    border: 1px solid #FFF;
    padding: 15px;
    background: #FFF;
    color: #2b2f3a !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    min-width: 205px !important;
    margin-top: 25px;
}
.offsetmedia .svgx {
    background: url(../img/smart-home.svg) no-repeat left bottom;
    height: 60px;
    width: 60px;
    background-size: cover;
    display: inline-block;
    margin-bottom: 15px;
}
.offsetmedia + .offsetmedia .svgx {
    background: url(../img/apartment.svg) no-repeat left bottom;
    height: 60px;
    width: 60px;
    background-size: cover;
    display: inline-block;
    margin-bottom: 15px;
}
.offsetmedia + .offsetmedia + .offsetmedia .svgx {
    background: url(../img/ideas.svg) no-repeat left bottom;
    height: 60px;
    width: 60px;
    background-size: cover;
    display: inline-block;
    margin-bottom: 15px;
}
.ctaMapNew {
    background: url(../img/map.png) no-repeat left bottom;
    padding: 60px;
    position: relative;
    min-height:270px;
    background-position: 100% 0%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.vCenter {
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    width: 100%;
}
.firstParaNew {
    font-size: 16px;
}
.contactPage  .btn-primary:not(:disabled):not(.disabled).active, .contactPage  .btn-primary:not(:disabled):not(.disabled):active, .contactPage  .show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #FFF;
    border-color: #FFF;
}
.listbg .table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    margin: 24px 16px;
    margin: 1.5rem 1rem;
}
.listbg .table td,.listbg .table th {
    border-top: 0px solid #dee2e6;
    padding: 12px 20px;
    padding:0.75rem 1.25rem;
    text-align: center;
    border-right: 1px solid #ffd3c3;
}
/******* Services *******/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #43b4e6;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.register-as {
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.topNav .navbar li .dropdown-menu a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0;
    padding-left: 11px;
    cursor: pointer;
}
.topNav .dropdown a:last-child {  
    border-bottom:0px solid #3c98c1;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #43b4e6;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #43b4e6;
}
.topNav .login li {
    padding:0 5px;
}
.topNav .login li a{
    padding:0;
    cursor: pointer;
    font-weight: 500;
}
.topNav .login li a + .dropdown-menu a {
    cursor: pointer;
    padding: 7px 10px;
}
.newForm{
    display: none;
 }
 .dis { 
     cursor:no-drop;
 }

 .myForm .custom-control {
padding-left:0rem;
}
.myForm .custom-controls{ 
display: flex;
justify-content: space-between;
width: 15%;
float: left;
text-align: left;
color: #6f6f6f;
margin-top:20px; 
}
.myForm .form-group .custom-control label {
padding-left: 22px;
color: #6f6f6f;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
    #blogSection .card-text {
        font-size: 15px;
    }
    #whyUsSection {
        background: none;
        background-color: #fdfdfd;
    }
    .contentArea .firstParaNew {
        font-size: 16px;
    }
    #whyUsSection .ctaBox {
        min-width: 100%;
    }
    .miniListingContents {
        font-size: 14px;
    }
    .discription {
        font-size: 16px;
        margin-top: 15px;
    }
    .mainInnerHeading {
        font-size: 35px;
    }
    .innerTittle {
        font-size: 35px;
    }
    .numberTittle {
        font-size: 35px;
    }
    .mainHeading {
        font-size: 35px;
    }
    .numbers .tittleAmount {
        font-size: 16px;
        white-space: nowrap;
    }
    .offsetFull {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .expertArea {
        margin-top: 20px;
    }
}
@media only screen and (min-device-width : 992px) and (max-device-width : 1024px)  {
    .container .faqSection ul.nav.nav-tabs li {
        min-height: 174.5px;
    }
    .helpSection .tabImgHolder {
        width: 150px;
        height: 150px;
    }
    .helpSection .tabImgHolder + .imgContants {
        padding-left: 160px;
    }
    .helpSection .tabContents {
        padding: 15px;
        min-height: 240px;
    }
    .helpSection .imgContants .imgDisc {
        font-size: 16px;
    }
    .factList li {
        max-height: 160px;
    }
    .formSec .form-group label {
        font-size: 15px;
        font-weight: 500;
    }
    .blogPage ul.nav.nav-tabs li {
        min-height: 118.5px;
    }
    .blogPage .faqContents {
        max-height: 365px;
    }
    .blogPage .panelAccordion .card .card-header .btn {
        font-size: 16px;
    }
    .blogPage .nav-tabs .nav-link {
        font-size: 15px;
    }
    .blogPage .listingImg {
        min-width: 270px;
    } 
    .blogPage .blogTittle {
        font-size: 16px;
    }
    .blogPage .blogDate {
        font-size: 15px;
    }
    .blogPage .blogDisc {
        font-size: 14px;
    }
    #testmonialSection .testUser {
        min-height: 280px;
        max-height: 290px;
    }  
    .contactListing li {
        padding-left: 60px;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: start;
    }
    .contactListing li a {
        font-size: 14px;
    }
    .contactListing {
        padding: 30px 5px;
    }
    .contactListing li i {
        font-size: 2.2em;
        left: 10px;
    }
    .ctaText {
        font-size: 24px;
    }
    .container .offsetXl {
        /* margin-top: 40px; */
    }
}   
@media only screen and (min-device-width : 768px) and (max-device-width : 992px)  {    

    .formSec .form-group .primeBg {
        width: 100%;
        margin-top: 40px;
    }
    .factList li {
        width:calc(50% - 15px);
        margin: 10px 0;
    }
    .blogPage .nav-tabs {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .blogPage ul.nav.nav-tabs li {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 33.33%;
        border-width: 1px 1px 1px 1px !important;
    }
    .blogPage .nav-tabs .nav-link {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
                justify-content: center !important;
        -webkit-box-align: center !IMPORTANT;
            -ms-flex-align: center !IMPORTANT;
                    -ms-grid-row-align: center !IMPORTANT;
                align-items: center !IMPORTANT;
        text-align: center;
        font-size: 14px;
        height: 126px !important;
    }
    .blogPage .nav-tabs .nav-link i {
        margin-bottom: 15px;
    }
    .blogDetails {
        padding: 15px;
        border: 1px solid #DDD;
    }
    .blogPage .listingImg {
        max-height: 250px;
        height: 250px;
        border-bottom: 4px solid #42b4e6;
        border-right: none;
    }
    .blogPage .listingContents {
        padding: 15px 15px;
        overflow-y: hidden;
    }
    .blogPage .blogDisc {
        font-size: 14px;
    }
    .blogPage .blogDetail {
        font-size: 14px;
    }
    .blogPage .blogDate {
        font-size: 14px;
    }
    .searchSec {
        position: relative;
        margin-top: 15px;
    }
    .primeBgDark {
        font-size: 14px !important;
        width: 160px;
    }
    #blogSection .card-bodyz {
        height: 190px;
    }
    .radiusBtnOutline {
        min-width: 200px;
    }
    .ctaText {
        font-size: 16px;
    }
    .container .offsetXl {
        margin-top: 35px;
    }
    #blogSection .card-text {
        margin-bottom: 12px;
        color: #2c2f39;
        padding: 10px 10px;
        font-size: 14px;
    }
    #blogSection .cardz .text-muted {
        font-size: 14px;
    }
    .primeBg {
        font-size: 15px;
    }
    .midText {
        font-size: 14px;
        padding-right: 30px;
    }
    .radiusBtn {
        max-width: 190px;
        min-width: 160px;
    }
}
@media only screen and (min-width: 993px) {
    .mobHeader {
        display: none;
    }
}
@media only screen and (max-width: 992px) {
    .listbg .table {
        margin: 15px 0;
    }
    .listbg .table td, .listbg .table th {
        border-top: 0px solid #dee2e6;
        padding: 0.75rem 10px;
        text-align: center;
        border-right: 1px solid #ffd3c3;
        border-left: 1px solid #ffd3c3;
        font-size: 12px;
    }
    .listbg {
        border: 1px solid #DDD;
        background: #FFF;
        max-height: 100%;
        margin: 0;
    }
    .cityList .nav-item.show .nav-link, .cityList .nav-link.active {
        padding: 15px;
        border-bottom: 5px solid #42b4e6 !important;
        border-color: transparent;
        border-left: 0px solid transparent !important;
        padding-left: 20px;
    }
    .cityList .nav-link {
        padding: 15px;
    }
    .helpSection .nav-item a > .ico {
        display: none;
    }
    .helpSection .nav-item {
        width: 100%;
        display: inline-block;
        -webkit-box-align: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;
    }
    .helpSection .nav-tabs .active {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
     .helpSection .nav-tabs a {
        padding: 15px;
    }
    .helpSection .tab-content {
        padding: 0 !important;
    }
    .helpSection .nav-link.active .lgIcon {
        position: absolute;
        font-size: 6.2em !important;
        right: 43px;
        top: 6px;
    }
    .helpSection .nav-item a {
        border: 1px solid #DDD;
    }
   .container .faqSection .paddingsm {
        margin: 0 15px !important;
    }
    .container .faqSection  .nav-tabs .nav-link i {
        margin-bottom: 5px;
    }
    .container .faqSection ul.nav.nav-tabs li {
        width: 50%;
    }
    .container .faqSection .nav-tabs .nav-link {
        height: 90px !important;
    }
    .blogPage .nav-tabs {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .blogPage ul.nav.nav-tabs li {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 33.33%;
        border-width: 1px 1px 1px 1px !important;
        min-height: 75px;
    }
    .blogPage .nav-tabs .nav-link {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
                justify-content: center !important;
        -webkit-box-align: center !IMPORTANT;
            -ms-flex-align: center !IMPORTANT;
                    -ms-grid-row-align: center !IMPORTANT;
                align-items: center !IMPORTANT;
        text-align: center;
        font-size: 14px;
        height: 75px !important;
    }
    .blogPage .nav-tabs .nav-link i {
        margin-bottom: 0px;
    }
    #residential .row + .row {
        margin-top:0;
    }
    .helpSection .tabImgHolder + .imgContants {
        padding-left: 0;
        margin-top: 15px;
    }
    .helpSection .tabContents {
        padding: 15px;
    }
    .helpSection .tabImgHolder {
        width: 100%;
        height: 210px;
        overflow: hidden;
        bottom: 0;
        border: 2px solid #f3f3f3;
        position: relative;
        top: 0;
        box-shadow: 3px 3px 3px 2px rgba(110,110,110,0.1);
    }
    .textLg {
        font-size: 24px;
    }
    .ctaMapNew {
        padding: 40px 0;
    }
    .factList {
        margin-bottom: 20px;
    }
    .labelPrice {
        max-width: 100%;
    }
    .ctaBg .calling + .callingDisc {
        font-size: 24px;
    }
    .ctaBg .calling + .callingDisc {
        font-size: 24px;
    }
    .ctaBg .calling {
        font-size: 35px;
    }
    .form-inline .form-group {
        margin-bottom: 15px;
    }
    .factList li .ico {
        font-size: 3.2em;
    }
    .factListing {
        padding-left: 70px;
    }
    .offsetLgNew {
        padding: 30px 15px;
    }
    .labelPrice .priceLabel > .priceTotal {
        font-size: 22px;
        text-transform: uppercase;
        font-weight: 600;
        padding-left: 10px;
        text-align: center;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .labelPrice {
        bottom: 15px;
        position: relative;
    }
    .bgImage {
        background: none;
        background-color: #f1f1f1;
        width: 100%;
        height: 100%;
    }
    .rightSection {
        width: 100%;
        margin-bottom: 50px;
    }
    .servicesHeading {
        font-size: 25px;
    }
    .bgImageNew {
        display: none;
    }
    .servicesType {
        border: 1px solid #42b4e6;
    }
    .offsetmedia {
        margin-top: 15px;
    }
    .servicesType:after {
        display: none;
    }
    .contactListing {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .contactListing li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 55px;
        width: 100%;
    }
    .contactListing li i {
        font-size: 2em;
        left: 0;
    }
    .contactListing li:nth-child(2) {
        border: 0px solid #42b4e6;
        border-width: 0px 0px 0px 0px;
        margin: 25px 0;
    }
    .contactListing li .contactDetails {
        font-size: 16px;
    }
    .contactListing li a {
        font-size: 15px;
    }
    .blogPage .blogListing {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
     .topNav {
        display: none;
    }
    .blogPage .listingContents {
        border: 1px solid #DDD;
    }
    .mobHeader {
        display: inline-block;
        width: 100%;
        position: fixed;
        z-index: 9;
        height: auto;
    }
    .callSection {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        position: relative;
        right: 0;
        top: 0;
        padding: 0 15px;
        line-height: 18px;
    }
    .callSection i {
        position: absolute;
        left: -27px;
        top: 9px;
        font-size: 24px;
        bottom: 0;
        margin: auto;
    }
    .logoSectionNew {
        position: relative;
        background: #FFF;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0;
        height: 65px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    }
    .callSection .callNo {
        font-size: 18px;
        font-weight: bold;
    }
    header {
        background: #FFF;
        /* min-height: 110px; */
        max-height: 110px;
        width: 100%;
        position: relative;
        z-index: 999;
    }
    .headerMini {
        position: relative;
        left: 0;
        z-index: 9;
        top: 0;
        width: 100%;
        height: 45px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 15px;
        background: #42b4e6;
        color: #FFF;
    }
    .headerMini > .fa {
        font-size: 24px;
    }
    .schedule-link {
        color: #FFF;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        border: 1px solid #fff;
        padding: 5px 10px;
        border-radius: 3px;
    }
    .schedule-link:hover {
        color: #F1F1F1;
    }
    .schedule-link i{
        padding-right: 10px;
        font-size: 16px;
    }
    .logoSectionNew img {
        width: 155px;
        margin-top: 9px;
        padding: 10px;

    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #FFF;
        overflow-x: hidden;
        -webkit-transition: 0.3s all ease-in;
        transition: 0.3s all ease-in;
        z-index: 9999;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 50px 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .sidenav  li {
        margin: 0;
        margin: 0 15px;
        border-bottom: 1px solid #e1e1e1;
        padding: 15px;
    }
    .closebtn  {
        font-size: 28px;
        color: #42b4e6;
        width: 100%;
        right: 0;
        float: right;
        text-align: right;
        padding: 5px 15px;
        position: absolute;
        top: 0;
        margin: 0;
    }
    .sidenav  li a {
        color: #111 !important;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
    }
    header .hvr-underline-from-center:before {
        background: #42b4e6;
    }
    .formArea {
        max-width:100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-width:100%;
        float: none;
        margin: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .banner .bannerDisc {
        display: none;
    }
    /* .banner {
        min-height: 700px;
        background-position: 25% 100%;
    } */
    .myForm .form-group textarea {
        min-height: 77px;
    }
    .myForm .form-group {
        margin-bottom: 0.7rem;
    }
    .primeBg {
        height: 45px;
        font-size: 16px;
    }
    #whyUsSection .ctaBox {
        min-width: 100%;
        max-width: 100%;
    }
    .offsetLg {
        padding: 40px 0;
    }
}

.register_for_scheduled_exam_text{
    /* font-size: 13px; */
    word-spacing: 0px;
}


@media only screen and (max-width: 767px) {

    .register_for_scheduled_exam_text{
        font-size: 11px;
        word-spacing: 0px;
    }

    .banner {
        background: url(../img/banner.jpg) no-repeat left bottom;
        padding: 0;
        min-height: 100%;
        height:50vh;
        background-size: contain;
        background-position: 100% 29%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .formSec .form-group .primeBg {
        margin-top: 10px;
        width: 100%;
    }
    .factList li:last-child {
        margin-bottom: 30px;
    }
    .factList li {
        width:100%;
        margin: 10px 0;
    }
    .blogPage .panelAccordion .card .card-header .btn + .fa {
        right: 0.25rem;
        font-size: 18px;
        top: 24px;
        bottom: 0;
    }
    .blogPage .panelAccordion .card {
        margin: 0 10px;
    }
    #servicesSection .card-deck .cardzz .card-text {
        font-size: 16px;
        text-align: justify;
    }
    .blogPage .panelAccordion .card .card-header {
        padding: 15px 0;
    }
    .blogPage .panelAccordion .card .card-header .btn {
        font-size: 14px;    
        white-space: pre-line;
        text-align: left;
        width: 95%;
    }
    .panelAccordion .card .card-body {
        height: 170px;
        padding: 0.75rem;
    }
    .paddingMini {
        padding: 0 15px;
    }
    .textSmall {
        display: none;
    }
    #footerSection .footer .footerLinks .footerLinkArea li a {
        font-size: 20px;
        font-weight: 400;
    }
    .offsetFull {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .blogPage .blogDetail {
        padding: 7px 10px;
        font-size: 14px;
    }
    .vCenter {
        -webkit-box-align: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;
        width: auto;
    }
    .contactPage .btn-primary {
        width: 150px;
        height: 50px;
    }
    #servicesPanel .hvr-shutter-out-horizontal {
        border: 1px solid #42b4e6;
    }
    .servicesDisc:after {
        display: none;
    }
    .innerTittle {
        font-size: 32px;
    }
    .firstParaNew {
        margin-bottom: 0;
        font-size: 18px;
        text-align: justify;
    }
    .container .offsetXl {
        margin-top: 30px;
    }
    .text-lights {
        text-align: justify;
    }
    .common-text {
        text-align: justify;
    }
    #footerSection .footer .paraTextFooter {
        text-align: justify;
    }
    .blogPage .listingImg {
        border-right: none;
        height: 230px;
        min-width: 100%;
        border-bottom: 4px solid #42b4e6;
    }
    .searchSec {
        margin-top: 25px;
    }
    .listingLeft li {
        padding: 12px;
        margin: 5px 0;
    }
    .blogPage .listingContents {
        padding: 15px 15px;
    }
    .listHeading {
        margin: 20px 0;
    }
    .blogPage .listingImg img {
        height: auto;
    }
    .detailImgWrapper {
        min-height: 200px;
        max-height: 300px;
    }
    .blogPage .blogDetails {
        padding: 15px;
        border: 1px solid #DDD;
    }
    .innerHeading {
        font-size: 32px;
    }
    .innerList li a {
        font-size: 16px;
    }
    .aboutSection {
        /* padding: 25px 0 30px; */
    }
    .about {
        min-height: 290px;
    }
    .numbers .numberTittle {
        font-size: 32px;
    }
    .miniListing {
        margin-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .imgHolder {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .offsetboth {
        margin: 0;
    }
    .numbers .amount {
        font-size: 35px;
    }
    .numbers .tittleAmount {
        margin: 0 0 15px 0;
    }
    .numbers .amount {
        margin:5px 0;
    }
    .mainInnerHeading {
        text-align: center;
    }
    .discription {
        text-align: justify;
    }
    .hrTag {
        text-align: center;
    }
    .contactListing {
        padding: 30px 20px;
        margin: 15px -15px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .contactPage .form-row label {
        margin-bottom: 5px;
        font-size: 16px;
        word-spacing: 3px;
    }
    .mainInnerHeading {
        font-size: 32px;
    }
    .numberTittle {
        font-size: 32px;
    }
    .form-row {
        margin-top: 0px !important;
    }
    .contactPage .form-row .form-group {
        margin-top: 15px;
    }
    .contactPage .form-row .form-control {
        font-size: 18px;
    }
    .contactPage .form-row textarea {
        height: 110px !important;
    }
    .numbers {
        background-position: 78% 82%;
    }
    .expertArea {
        margin-top: 20px;
    }
    .imgWrapperNew {
        max-height: 230px;
    }
    .textBoxArea {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: 20px;
    }
    .aboutSection .imgArea .overlay {
        padding: 10px 15px;
    }
    .swiper-slide {
        width: 100% !important;
        margin-right: 20px !important;
    }
    .offsetLg {
        padding: 30px 0;
    }
    .offset30 {
        margin-top: 20px;
    }
    .footerBottom p {
        font-size: 14px;
    }
    #footerSection .footer .form-group {
        position: relative;
        margin-bottom: 3rem;
    }
    #footerSection .footer .footerHeading {
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    #blogSection .card-text {
        font-size: 16px;
    }
    .centered {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .ctaRating {
        padding: 25px 0;
    }
    .paddingXl {
        padding-bottom: 75px;
        padding-top: 25px;
    }
    .ctaRating .iconList i {
        font-size: 3rem;
    }
    .ctaRating .iconList .amount {
        font-size: 35px;
    }
    .paraText {
        font-size: 14px;
        color: #919194;
        line-height: 25px;
    }
    .faqAccordion .card-body {
        padding: 0.75rem;
    }
    .mainHeading {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .ctaContent {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    .ctaText {
        margin: 0;
        font-size: 22px;
        text-align: center;
    }
    .ctaSecond {
        padding: 40px 0;
    }
    .midText {
        margin: 0.5rem 0;
        font-size: 16px;
        text-align: center;
    }
    .ctaSection .primeBg  {
        margin:15px auto 0;
    }
    .radiusBtn {
        max-width: 190px;
    }
    .contentArea {
        padding: 20px 0;
    }
    .banner .formTittle {
        font-size: 16px;
    }
    .myForm .form-group .for.modal-contentm-control {
        height: 2.75rem;
    }
    .myForm .form-group label {
        margin-bottom: .3rem;
        font-weight: 500;
        font-size: 14px;
    }
    .faqAccordion .active.card-header .btn-link {
        font-size: 12.5px;
    }
    .faqAccordion .card-header {
        padding: .75rem .45rem;
    }
    .faqAccordion .card-header .btn-link {
        font-size: 12.5px;
    }
    .faqAccordion .card .card-header .btn-link + i {
        font-size: 16px;
        right: 10px;
        top: 10px;
    }

   
   
}
.rating_testimonial {
    font-size: 40px;
    text-align: center;
}