#pricing .priceList {
    background: #fefeff;
    -webkit-box-shadow: 0 0 30px 2px rgba(110, 110, 110, 0.2);
    box-shadow: 0 0 30px 2px rgba(110, 110, 110, 0.2);
    border-radius: 5px;
    overflow: hidden;
}
.hvr-grow:active, .hvr-grow:focus, .hvr-grow:hover {
    -webkit-transform: scale(   .06);
    transform: scale(1.06);
}
#pricing .priceHeader {
    background: #fe7900;
    min-height: 57px;
    line-height: 55px;
    position: relative;
}
#pricing .priceListing li .topRow .cur .fa {
    padding: 0;
    color: #5c5d6a !important;
}
#pricing .priceListing li .each {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    position: relative;
    bottom: 10px;
}
#pricing .priceHeader .priceTittle {
    color: #FFF;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
}
#pricing .priceHeader .priceTittle .subTitle {
    font-weight: bold;
}
#pricing .priceHeader .shape {
    width: 0;
    height: 0;
    top: 57px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #fe7900;
}

.abs, #pricing .priceHeader .shape {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#pricing .priceListing {
    padding: 0 18px;
}
#pricing .priceListing li:nth-child(1) {
    border: 0px solid #DDD;
    padding: 0px;
}#pricing .priceHeader.silver {
    background: #9fa8b2;
}

.bronze_package .priceHeader.silver .shape {
    border-top: 11px solid #9fa8b2 !important;
}
#pricing .priceListing li {
    font-size: 16px;
    color: #404252;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    border-top: 1px solid #DDD;
    padding: 10px 0;
    position: relative;
}
#pricing .priceListing li .topRow .cur {
    font-size: 27px;
    color: #5c5d6a;
    font-family: "Open Sans", sans-serif;    
    position: relative;
    bottom: 8px;
}
#pricing .priceHeader.gold {
    background: #e3b937;
}


#pricing .priceHeader.normal {
    background: #00bcd4;
}

.bronze_package .priceHeader.normal .shape {
    border-top: 11px solid #00bcd4 !important;
}

.bronze_package .priceHeader.gold .shape {
    border-top: 11px solid #e3b937 !important;
}

.bronze_package .priceHeader.normal + .priceListing li:last-child::before {
    background: #00bcd4 !important;
}

.bronze_package .listingBtn.normal{
    background: #00bcd4 !important;
}

#pricing .priceListing li .topRow .price {
    font-size: 48px;
    font-weight: bold;
    color: #5c5d6a;
}
#pricing .priceListing li .topRow .gst {
    font-size: 16px;
    color: #9e9ea5;
    position: relative;
    top: -10px;
    text-transform: uppercase;
    font-style: italic;
}
#pricing .priceListing li .duration {
    text-transform: uppercase;
    color: #5c5d6a;
    font-size: 20px;
    opacity: 0.7;
    position: relative;
    bottom: 10px;
}

#pricing .priceListing li .listings {
    font-size: 18px;
    color: #fe7900;
    border: 1px solid #fe7900;
    border-radius: 300px;
    padding: 5px 15px;
    -webkit-box-shadow: 0px 0px 11px 2px #ddd;
    box-shadow: 0px 0px 11px 2px #ddd;
    margin-bottom: 0px;
    display: inline-block;
    min-width: auto;
    cursor: pointer;
}
.bronze_package .priceListing li .listings {
    font-size: 22px;
    color: #5d5e6a !important;
    border: 1px solid #5d5e6a !important;
}

#pricing .priceListing li .fa {
    color: #fe7900;
    padding-right: 10px;
}
.bronze_package .priceListing li .fa {
    color: #CD7F32 !important;
    padding-right: 10px;
}

#pricing .priceListing li:last-child::before {
    background: #fe7900;
    position: absolute;
    bottom: 0;
    height: 6px;
    margin: auto;
    width: calc(100% + 36px);
    content: '';
    left: -18px;
    right: 0;
}
.bronze_package .priceListing li:last-child::before {
    background: #CD7F32 !important;
}
.listingBtn {
    color: #FFF !important;
    background: #fe7900;
    padding: 10px 35px;
    border-radius: 200px;
    font-weight: bold;
    margin: 15px 0;
    display: inline-block;
    min-width: 220px;
    font-size: 24px;
    -webkit-transition: 0.5s all ease-out;
    -o-transition: 0.5s all ease-out;
    transition: 0.5s all ease-out;
    -webkit-box-shadow: 0 0 30px 2px rgba(110, 110, 110, 0.2);
    box-shadow: 0 0 30px 2px rgba(110, 110, 110, 0.2);
}
.bronze_package .listingBtn.platinum {
    background: #fe7900 !important;
}

.bronze_package .listingBtn.gold {
    background: #e3b937 !important;
}

.bronze_package .listingBtn.silver {
    background: #9fa8b2 !important;
}
.bronze_package .priceListing li:last-child::before {
    background: #fe7900 !important;
}
.bronze_package .priceHeader.gold + .priceListing li:last-child::before {
    background: #e3b937 !important;
}
.bronze_package .silver + .priceListing li:last-child::before {
    background: #9fa8b2 !important;
}
.containerx {
    padding-left: 16px !important;
    cursor:pointer;
}
/* Hide the browser's default checkbox */
.containerx input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.containerx .checkmark {
    position: absolute;
    top: 15px;
    left: 10px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.containerx:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerx input:checked ~ .checkmark {
    background-color: #00bcd4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.containerx .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerx input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerx .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




#pricing .test{
padding: 0px !important;
}
.test.priceListing li:last-child::before {
    background: unset !important;
}

.test  li>label:hover{
    background: #42b4e6;
    color: white
}


#pricing .test li {
   padding: 0px !important
}

.test_label{
   
        width: 100%;
        padding: 15px 0;
        margin: 0;
    }

    .test_ques_label{
   
        width: 100%;
        padding: 15px 0;
        margin: 0;
    }
    

  
    
.nextbtn{

background-color: #42b4e6;
    height: 45px;
    line-height: unset;
    padding: 0 20px;
    border-radius: 3px;
    /* display: -webkit-box !important; */
    display: -ms-flexbox !important;
    /* display: flex !important; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    word-spacing: -2px;
    color: #FFF !important;
    font-size: 18px;
    font-weight: 400;
}