<div class=" container-fluid" style="margin-top:30px">

<div class="col-md-2">
<h1 style="margin-top:50px ; margin-bottom:50px"> <?php echo $message ?></h1>
     </div>
<div class="col-md-3">

     Choose Date of Exam
     </div>
     
     <div class="col-md-4">
     <input id="input"  />
     </div>

   
     
</div>
<script>
     $('#input').datetimepicker({   uiLibrary: 'bootstrap4', format: 'yyyy-mm-dd HH:MM ' ,footer: true, modal: true ,
       
        change: function (e) {
            setExamDate( $('#input').datetimepicker().value())
         }
     });
     

    function setExamDate(date){
        $.ajax({
            url:'<?php Router::url(["controller" => "AdminFaq", "action" => "insertExamtimer"]);?>',
            type:'POST',
            data :{'data':date},
            success:function(data){
               
            },
            error: function (errorthrown) {
             
            }
        });
     }
</script>