
  <div class="wrapper">
	<div class="container">
		<h1>Admin Login</h1>
				<?php $url = Router::url(['controller' => 'AdminLogin', 'action' => 'adminLogin'])?>
				
				<?php echo $this->Form->create('Admin'); ?>
				<?php echo $this->Form->input('username');
				echo $this->Form->input('password');
			
		?>
		<?php echo $this->Form->end(__('Login')); ?>
	
	</div>
	

</div>
