<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <?php echo $this->Html->charset(); ?>
        <title>
          Admin Login
        </title>
    
        <?php
        echo $this->Html->meta('icon');
        echo $this->Html->css('adminlogin.css');
     
        echo $this->Html->script('jquery.min.js');
        echo $this->Html->script('adminlogin.js');
     
       
        
       
       
        
        ?>
       


    </head>
    <body>

    
            <?php echo $this->fetch('content'); ?>

    

    </body>
    </html>

   
